@import url('https://fonts.googleapis.com/css2?family=Alike&family=League+Spartan:wght@400;500;600;700&family=Lexend:wght@300;400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

:root {
    --purple: #8000FF;
    --red: #AD0101;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lexend', sans-serif!important;
}

.hero-section {
    height: 100vh;
}

#index-h2 {
    font-size: large!important;
}
#lang-toggle a {
    color: white!important;
}
#index-ampersand {
    font-weight: 600;
    font-size: 50px;
    color: var(--purple);
    font-family: 'Alike', sans-serif!important;
}

.btn:not(#theme-toggle):not(#lang-toggle):not(#btn-home) {
    background-color:var(--purple)!important;
    border: var(--purple)!important;
    border-radius: 5px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    transition: background-color 0.3s ease;
    transition: transform 0.2s ease;
}
.btn:hover:not(#theme-toggle):not(#lang-toggle):not(#btn-home) {
    background: linear-gradient(135deg, #8000FF, #FF0080);
    border: var(--purple)!important;
    box-shadow: 5px 5px 10px rgba(184, 182, 182, 0.3);
    transform: scale(1.05);
}

h1, h2 {
    font-family: 'League Spartan', sans-serif!important;
}

.icons {
    color:var(--purple);
    font-size: 50px!important;
}

.container {
    width: 80%!important;
}

p, li {
    font-size: 90%;
}

.navbar {
    background-color: #ffffff!important;
    box-shadow: -2px 5px 10px rgba(104, 103, 103, 0.3);
}

.bg-light {
    background-color: #ffffff!important;
}

.navbar a {
    color: rgb(84, 84, 84);
}

.navbar a:hover {
    color: rgb(0, 0, 0);
    /* text-decoration: underline; */
}

#toggle-icon {
    color: rgb(0, 0, 0)!important;
}

.navbar-toggler-icon {
    color: black!important;
    /* background-color: rgb(216, 173, 173)!important; */
}

.navbar-toggler {
    color: rgb(0, 0, 0)!important;
    /* background-color: rgb(119, 104, 177)!important; */
}

/* summary::-webkit-details-marker {
    display: none!important;
} */

footer img {
    width: 80px;
    height: 80px;
    filter: grayscale(100%);
}

footer a, .footer-copyright {
    color: rgb(67, 67, 67);
}

footer.bg-light {
    background-color: #ffffff!important;
    box-shadow: 5px -5px 10px rgba(104, 103, 103, 0.3);
}

#content-skip {
    margin-top: 40px!important;
    color: rgb(103, 103, 166);
    font-size: 14px;
    background-color: white;
}

#content-skip:hover {
    color: black;
}
.required {
    color: var(--red);
    margin-left: 3px;
}

#hero-section {
    height: 90vh;
}

/* #services, #contact {
    height: 100vh;
    padding-top: 70px;
} */


#hero-section {
    /* height: 90vh; */
    /* background-color: #8000FF; */
    background: linear-gradient(135deg, #8000FF, #FF0080);
    color: #fff;
    /* text-align: center;
    position: relative; */
}

.footer-link {
    font-size: 0.75rem!important;
}


#hero-text {
    color: #fff;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%);
    text-align: center; */
}

#btn-home {
    background-color: #00f6fe!important;
    color: #000000;
    border-radius: 50px;
    border-color: none;
    border: none;
    border-radius: 5px!important;
    transition: transform 0.2s ease;
    /* text-decoration: none; */
    /* transition: background-color 0.3s ease; */
}

#btn-home:hover {
    background: linear-gradient(135deg, #00f6fe, #00FE19);
    box-shadow: 5px 5px 10px rgba(184, 182, 182, 0.3);
    transform: scale(1.05);
    border-color: none;
}

.webdev_examples {
    width: 100%;
}

#index-h2 {
    font-size: 1.5rem!important;
}

#index-h1 {
    font-size: 3rem;
}


#index-profile {
    width: 60%!important;
    border-radius: 500px;
    box-shadow: 5px 5px 10px rgba(95, 93, 93, 0.3);
}

/* .img-container {
    width: 40px!important;
} */
.social-icons {
    width: 80%;
}

.social-icon {
    font-size: 1.4rem!important;
    color: #525252;
}

.social-icon:hover {
    color: rgb(32, 32, 32);
}

.about-link {
    color: #525252;
}

.index-para {
    font-size: 1rem!important;
}

#index-services {
    background-color: grey!important;
}

#index-hero-img {
    width: 85%;
}

/* Styles for mobile devices */
@media (max-width: 767px) {
    .container { width: 90%; }

    #index-h1 {
        font-size: 5rem;
        padding-top: 90px;
    }
    #btn-home {
        margin-left: 100px!important;
    }

    #hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center-align { text-align: center; }

    #about {
        margin-top:10px;
    }

    #about-hey {
        margin-top: 40px!important;
    }
    #index-profile {
        margin-left: 15px;
        width: 90%!important;
    }
    .social-icons {
        margin-left: 5px!important;
        /* font-size: 2rem!important; */
    }
    .about-link {
        font-size: 1rem!important;
    }
    .social-icon {
        margin-right: 2px;
    }
}
  

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    #index-h1 {
        padding-top: 50px;
    }
    /* Your CSS rules for tablets go here */
}
  

  /* Styles for laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
    /* Your CSS rules for laptops go here */
    #index-h1 {
        padding-top: 25px;
    }
    .social-icons {
        margin-left: 25px!important;
    }
    .social-icon {
        margin-right: 15px;
    }
    #index-profile {
        width: 60%!important;
    }
    .index-para {
        font-size: 0.75rem!important;
    }
    .about-link {
        margin-left: 0px!important;
        font-size: 0.75rem!important;
    }
    
}


/* Styles for large desktop screens */
@media (min-width: 1280px) {
    /* Your CSS rules for large desktops go here */
    #index-h1 {
        padding-top: 70px!important;
        font-size: 7rem;
    }
    .index-section {
        margin-top: 30vh;
    }
    #index-profile {
        width: 100%!important;
    }
    .social-icons {
        margin-left: 60px!important;
        margin-top: 10px!important;
        font-size: 5rem!important;
    }
    
    .social-icon {
        margin-right: 5px;
    }
    .index-about-text {
        padding-left: 50px;
    }
    footer {
        margin-top: 600px;
    }
    .about-link {
        margin-left: 60px;
    }
}
