<footer class="bg-light text-dark mt-3" id="footer">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-2 mt-4 footer-copyright footer-link">
                <strong>&copy; Amper Digital <div id="currentYear"></div></strong>
                <i class="fa-brands fa-github"></i> You can view this website's source code on <a href="https://github.com/amper-digital/amper-digital-website" target="_blank">GitHub</a>.</p>
            </div>
            <div class="col-md-8 mt-4 mb-2 text-center">
                <!-- Place your certification logos or content here -->
                <img src="{{ filePath }}assets/agile.png" alt="Certified AgilePM Practitioner" class="mr-3">
                <img src="{{ filePath }}assets/bcs.png" alt="Professional member of the professional body British Computing Society" class="mr-3">
                <img src="{{ filePath }}assets/iaap.png" alt="Professional member of the international association of accessibility professionals" class="mr-3">
                <img src="{{ filePath }}assets/ilm.png" alt="ILM Level 3 Certificate in leadership and management" class="mr-3">
                <!-- Add more logos as needed -->
            </div>
            <div class="col-md-2 mt-4 text-left footer-links">
                <ul class="list-unstyled">
                    <li><a href="{{ filePath }}index.html" class="footer-link">Home</a></li>
                    <li><a href="{{ filePath }}pages/privacy-policy.html" class="footer-link">Privacy policy</a></li>
                    <li><a href="{{ filePath }}pages/accessibility-statement.html" class="footer-link">Accessibility Statement</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>