<!-- HERO -->
<section id="hero-section">
    <div class="containter-fluid">
        <div class="content text-center" id="hero-text">
            <h1 class="mb-5" style="padding-top: 100px;" id="index-h1">Amper Digital</h1>
            <h2 class="mb-4" id="index-h2">Expertise in accessibility testing, training, and consultancy</h2>
            <a class="btn btn-primary mt-3" id="btn-orange" href="#services" role="button">Our services</a>
        </div>
    </div>
</section>

