<!-- HERO -->
<section id="hero-section">
    <div class="containter-fluid">
        <div class="content" id="hero-text">
            <div class="row">
                <div class="col-md-6 text-center align-items-center mt-2 d-none d-md-inline">
                    <img src="assets/imageforhomepage.png" alt="Screenshots of code (Java, Python, and SQL) alongside two screenshots of websites built by Amper Digital, one being a vibrant green e-commerce site and the other being a web application for Sport Wales." id="index-hero-img">
                </div>
                <div class="col-md-6 text-left center-align">
                    <h1 class="mb-5 center-align" id="index-h1">Amper Digital</h1>
                        <h2 class="mb-4 center-align" id="index-h2">Your vision & our expertise</h2>
                    <a class="btn btn-primary mt-3 center-align" id="btn-home" href="#services" role="button">Our services</a>
                </div>
            </div>
        </div>
    </div>
</section>

