<nav class="navbar-light navbar navbar-expand-lg" style="background-color: #006fbe;">
    <a class="navbar-brand" href="{{ filePath }}index.html">
        <img role="presentation" src="https://raw.githubusercontent.com/amper-digital/amper-digital-website/main/assets/ampersand.png" width="30" height="30">
    </a>
    
    <button class="navbar-toggler navbar-light" id="navbar-toggle-to-change" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="toggle-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ filePath }}index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ filePath }}index.html#about">About</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ filePath}}pages/accessibility.html">Accessibility</a>
            <a class="dropdown-item" href="{{ filePath }}pages/website-development.html">Website Development</a>
            <a class="dropdown-item" href="{{ filePath }}pages/software-engineer.html">Software Engineering</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
        </ul>
    </div>
    {# <button id="lang-toggle" type="button" class="btn btn-light btn-sm"><a href="{{ otherLangPage }}">Cymraeg</a></button> #}

    <button id="theme-toggle" type="button" class="btn btn-dark btn-sm"><span style="vertical-align: middle; font-size: medium;" aria-hidden="true" class="material-symbols-outlined mb-1" id="theme-icon">dark_mode</span> Dark mode</button>
</nav>