{% extends "base.njk" %}

{% block content %}
<h1 class="mt-5 mb-5">Whoops! 404</h1>
<!-- idea: wizard of oz there's no place like home?? -->
<p>You've become a bit lost.</p>
<a class="btn btn-primary mt-3 mb-5" href="index.html" role="button">Let's go home</a>

{% endblock %}