{% extends "base.njk" %}
{% block content %}
<h1 class="mt-5 mb-5">Accessibility services</h1>
<section id="services" class="index-section">
    <div class="row">
        <div class="col-12 col-lg-4 index-services">
            <span aria-hidden="true" class="material-symbols-outlined icons mt-4">construction</span>
            <h2 class="mb-4 mt-3">Testing</h2>
            <p>We offer services that will test your website or other assets
                against the following standards:</p>
            <ul>
                <li>WCAG 2.2 A, AA, and AA standards</li>
                <li>PDF/UA standard</li>
                <li>Public Sector Body Accessibility Regulations (PSBAR)</li>
            </ul>
            <p>We offer accessibility audits on an annual or ad-hoc basis.</p>
            <a class="btn btn-primary mt-3 mb-5" href="testing.html" role="button">How we test</a>
        </div>
        <div class="col-12 col-lg-4 index-services">
            <span aria-hidden="true" class="material-symbols-outlined icons mt-4">model_training</span>
            <h2 class="mt-3 mb-4">Training</h2>
            <p>Training is developed through consultation with you to
                best meet your organisation's need. I deliver training in:
            </p>
            <ul>
                <li>website design</li>
                <li>PDFs and PDF/UA conformance</li>
                <li>WCAG 2.2 and PSBAR compliance</li>
                <li>semantic HTML (for developers)</li>
                <li>accessibile marketing</li>
                <li>procurement</li>
            </ul>
            <a class="btn btn-primary mt-3 mb-5" href="training.html" role="button">Accessibility training courses</a>
        </div>
        <div class="col-12 col-lg-4 index-services">
            <span aria-hidden="true" class="material-symbols-outlined icons mt-4">group_add</span>
            <h2 class="mt-3 mb-4">Consulting</h2>
            <p>Monthly retainer fee in exchange for accessibility guidance
                and support, including:
            </p>
            <ul>
                <li>implementing strategic and operational change</li>
                <!-- <li>operational change in the areas of marketing, content design,
                    and web development
                </li> -->
                <li>procuring accessibile digital assets and services</li>
                <li>understanding when and how to test</li>
            </ul>
            <a class="btn btn-primary mt-3 mb-5" href="consulting.html" role="button">Consultancy</a>
        </div>
    </div>
</section>
<p class="index-para">
    I want to make the world more accessible, one pixel at a time. If you want to come along for the journey - get in touch:
</p>
{% include "includes/contact.njk" %}
{% endblock %}