{% extends "base.njk" %}

{% block content %}
<h1 class="mt-5 mb-5">Consulting services</h1>
<p>
We understand it can be difficult to employ permanent full-time staff to work on accessibility all-year round, 
which is why we're here to be your partner. 
As a consultancy service, we offer a comprehensive monthly retainer designed to make your digital presence accessible to all users.
</p>
<h3 class="mt-3 mb-4">What our consulting services includes:</h3>
<ul>
    <li class="mb-2"><strong>Strategic guidance:</strong> With over four years of experience in accessibility, we provide expert guidance to help you develop and implement a strategic accessibility plan tailored to your unique needs and goals.</li>
    <li class="mb-2"><strong>Operational support:</strong> We'll work together to make operational changes in areas such as marketing, content design, web development, and more. Our expertise will help your team seamlessly integrate accessibility practices into your daily operations.
    We also offer up to <strong>five documents remedied for accessibility</strong> fixes a month.</li>
    <li class="mb-2"><strong>Procurement assistance:</strong> Ensure that the digital assets and services you procure are accessible from the start. We'll assist you in the procurement process, including writing acceptance criterias and helping you select products and services that align with accessibility requirements.</li>
    <li class="mb-2"><strong>Testing and evaluation:</strong> Understand when and how to conduct accessibility testing. We'll guide you through the process, ensuring that your testing efforts are effective and yield actionable results.</li>
    <li class="mb-2"><strong>Monthly KPIs and benchmarking:</strong> We'll establish key performance indicators (KPIs) related to accessibility and benchmark them monthly to track progress and identify areas for improvement.</li>
</ul>
<h3 class="mt-3 mb-4">Why choose our monthly retainer?</h3>
<p>Accessibility is an ongoing commitment, and our monthly retainer service ensures that you have access to expertise and support whenever you need it. By partnering with Amper Digital, you'll have a dedicated accessibility consultant by your side to address your specific challenges and provide solutions promptly.</p>
<section class="mt-3 mb-3">
    <p>Let's have a chat on how we can help:</p>
    {% include "includes/contact.njk" %}
</section>
{% endblock %}