{% extends "base.njk" %}

{% block content %}
<!-- SERVICES -->
<section id="services" class="index-section">
        <div class="row">
            <div class="col-12 col-lg-4 index-services">
                <span aria-hidden="true" class="material-symbols-outlined icons mt-4">accessibility_new</span>
                <h2 class="mb-4 mt-3">Accessibility</h2>
                <p>We offer testing, training, and consultancy services that
                    aid your compliance
                    with the following standards:</p>
                <ul>
                    <li>WCAG 2.2 A, AA, and AA standards</li>
                    <li>PDF/UA standard</li>
                    <li>Public Sector Body Accessibility Regulations (PSBAR)</li>
                </ul>
                <a class="btn btn-primary mt-3 mb-5" href="pages/accessibility.html" role="button">Accessibility services</a>
            </div>
            <div class="col-12 col-lg-4 index-services">
                <span aria-hidden="true" class="material-symbols-outlined icons mt-4">wysiwyg</span>
                <h2 class="mt-3 mb-4">Website development</h2>
                <p>We create websites that range from one-pagers
                    to complex website applications. You gain:
                </p>
                <ul>
                    <li>custom design and development</li>
                    <li>reliable hosting and maintenance</li>
                    <li>mobile-responsive websites</li>
                </ul>
                <a class="btn btn-primary mt-3 mb-5" href="pages/website-development.html" role="button">Web development services</a>
            </div>
            <div class="col-12 col-lg-4 index-services">
                <span aria-hidden="true" class="material-symbols-outlined icons mt-4">terminal</span>
                <h2 class="mt-3 mb-4">Software engineering</h2>
                <p>In addition to website development, we offer broader services that include:
                </p>
                <ul>
                    <li>system analysis and design</li>
                    <li>database design, schema, and integrations</li>
                    <li>quality assurance and testing</li>
                </ul>
                <a class="btn btn-primary mt-3 mb-5" href="pages/software-engineer.html" role="button">Software engineering services</a>
            </div>
        </div>
    </section>
    <!-- ABOUT -->
    <section id="about" class="index-section">
        <div class="row">
            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                <div>
                    <div class="img-container mt-3 mb-3">
                        <img id="index-profile" src="assets/profilepic.png" alt="Tara Rhoseyn, a brunette woman in her twenties wearing a suit and smiling to the camera.">
                    </div>
                    <div>
                        <a href="mailto:tara@amperdigital.co.uk" target="_blank" class="about-link mt-5"><span class="social-icon material-symbols-outlined">mail</span>tara@amperdigital.co.uk</a>
                    </div>
                    <div class="mb-5">
                        <a href="https://www.linkedin.com/in/tara-rhoseyn" target="_blank" class="about-link mb-5"><i class="social-icon fab fa-linkedin"></i>Amper Digital on LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 index-about-text">
                <h2 class="mb-4 mt-1" id="about-hey">Hey<span aria-hidden="true"> 👋</span></h2>
                <p class="index-para">
                I'm Tara, the Founder of Amper Digital. I'm based in Cardiff, South Wales, and I've been working in technology for over four years.
                </p>
                <p class="index-para">
                I've worn many hats - from programming to agile project management to accessibility testing, I've done it all. Over the past two years, I've worked on websites and accessibility for a public body.
                </p>
                <p class="index-para">
                My background is in software engineering, with a particular expertise in web-based applications and meeting accessibility regulations.
                </p>
                <p class="index-para">
                I'm currently accepting new clients. If you want to come along for the journey - get in touch:
                </p>
            </div>
        </div>
    </section>
<!-- CONTACT -->
{% include "includes/contact.njk" %}
{% endblock %}

