{% extends "base.njk" %}

{% block content %}
<section>
    <h1 class="mt-5 mb-5">
        Polisi preifatrwydd
    </h1>
    <h2>Cwcis</h2>
    <p>Nid yw'r wefan hon yn defnyddio unrhyw gwcis.</p>
    <p>Yr unig fath o storfa y mae'r wefan hon yn ei defnyddio yw storfa leol eich porwr i arbed eich dewis ar gyfer modd tywyll neu olau.
         Nid yw hwn yn cynnwys data personol neu adnabyddadwy.
    </p>
    <h2>Dolenni i wefannau eraill</h2>
    <p class="mb-5">Sylwch fod y polisi preifatrwydd hwn yn cwmpasu'r wefan hon yn unig ac nid unrhyw wefannau y byddwch yn ymweld â nhw o'r fan hon.</p>
</section>
{% endblock %}