{% extends "base.njk" %}

{% block content %}
<section>
    <h1 class="mt-5 mb-5">
        Privacy policy
    </h1>
    <h2>Cookies</h2>
    <p>This website does not use any cookies.</p>
    <p>The only form of storage this website uses is your browser's local storage to save your preference for dark or light mode.
        This does not contain personable or identifiable data.
    </p>
    <h2>Links to other websites</h2>
    <p class="mb-5">Please note that this privacy policy only covers this website and not any websites that you visit from here.</p>
</section>
{% endblock %}
