{% extends "base.njk" %}

{% block content %}
<h1 class="mt-5 mb-5">Software Engineering Services</h1>
<p>In addition to <a href="website-development.html">website development</a> we offer a wide range of software engineering services designed to meet the diverse needs of businesses and individuals. We're dedicated to delivering high-quality solutions that drive innovation and efficiency.
</p>
<p>Our software engineering services encompass a broad spectrum of expertise, including but not limited to:</p>
<ul>
    <li>System analysis and design, including creating architecture models and artifacts</li>
    <li>Requirements engineering and writing documentation</li>
    <li>Database design and schema (SQL, NoSQL, etc)</li>
    <li>Programming in Python or Java</li>
    <li>Quality assurance and testing</li>
    <li>API development and integration</li>
    <li>Legacy system modernisation</li>
</ul>
<h2 class="mt-5 mb-5">Why choose us?</h2>
<p>When you partner with Amper Digital, you gain access to:</p>
<ul>
    <li>Experienced and skilled software engineer</li>
    <li>Broad knowledge base and skillset</li>
    <li>Agile development methodologies for rapid results</li>
    <li>Dedication to meeting deadlines and budgets</li>
    <li>Collaorative and transparent project management</li>
</ul>
<p class="mb-5">Let's work together to turn your software ideas into reality, get in touch today:</p>
{% include "includes/contact.njk" %}
{% endblock %}