{% extends "base.njk" %}

{% block content %}
<h1 class="mt-5 mb-5">Testing</h1>
<h2 class="mt-3 mb-3">Website Testing Services</h2>
<p>At Amper Digital, we specialize in comprehensive website testing services designed for legal standards. Whether you require one-time testing or ongoing assessments, we have the expertise to ensure your digital presence is accessible to all.</p>
<h3 class="mt-3 mb-3">Comprehensive WCAG audit reports</h3>
<p>Our tests cover 10 to 20 pages on your website, allowing us to provide a granular breakdown of each <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="new_window">Web Content Accessibility Guidelines (WCAG) 2.1 standard</a>, detailing pass/fail results. You'll receive a comprehensive report outlining areas for improvement and immediate action.</p>
<h3 class="mt-3 mb-3">Our testing process includes:</h3>
<div>
    <ul>
        <li class="mb-2"><strong>Manual testing:</strong> Our experienced accessibility engineers conduct thorough manual assessments. Their in-depth knowledge of accessibility regulations ensures a meticulous examination.</li>
        <li class="mb-2"><strong>Usability testing:</strong> We work with disabled users to ensure that your website is not only compliant but also user-friendly for all.</li>
        <li class="mb-2"><strong>Screen reader testing</strong>: We test with popular screen reader software like JAWS and NVDA to guarantee compatibility and usability.</li>
        <li class="mb-2"><strong>Automated testing:</strong> We employ automated testing software to identify potential issues and violations of accessibility standards.</li>
    </ul>
</div>
<h3 class="mt-3 mb-3">Annual testing</h3>
<p>For public sector bodies, we highly recommend annual testing to maintain compliance with the <a href="https://www.legislation.gov.uk/uksi/2018/852/contents/made" target="new_window">Public Sector Body Accessibility Regulations (PSBAR).</a> Regular evaluations help you stay on top of your accessibility game.</p>
<h3 class="mt-3 mb-3">Beyond websites</h3>
<p>In addition to website testing, we offer assessment and remediation for other digital assets, including PDFs to meet the PDF/UA standard. Our ad-hoc remediation service ensures that all your documents conform to required standards.</p>
<p>With Amper Digital, you can be confident in the accessibility and compliance of your digital content. We're here to make the digital world more accessible, one assessment at a time.</p>
<section class="mt-3 mb-3">
    <p>Please reach out to discuss how we can best provide testing services for your organisation:</p>
    {% include "includes/contact.njk" %}
</section>


{% endblock %}