{% extends "base.njk" %}

{% block content %}
<section>
    <h1 class="mt-5 mb-5">Training</h1>
    <p>
    Every organisation's needs are different when it comes to accessibility. That's why we work with clients
    to create the best package for your needs. We can deliver any block of training from simple 1-hour workshops
    to 4-week training courses. Training can be delivered in-person or virtually and participation is encouraged.
    </p>
    <p>
    While we tailor training to specific clients, we have particular expertise in delivering training in these topics:
    </p>
</section>
    <h2 class="mb-2">For everyone</h2>
    <div class="mt-1">
        <ul>
            <li>Introduction to digital accessibility</li>
            <li>Inclusive design principles</li>
            <li>Introduction to Web Content Accessibility Guidelines (WCAG)</li>
            <li>Accessibility roles and responsibilities</li>
            <li>Accessibility and project management</li>
            <li>Resources and tools</li>
            <li>Procurement and accessibility</li>
            <li>Creating an accessibility action plan</li>
        </ul>
    </div>

    <h2 class="mb-2">For developers</h2>
    <div class="mt-1">
        <ul>
            <li>Accessible HTML and semantic markup</li>
            <li>using ARIA attributes</li>
            <li>WCAG deep-dive</li>
            <li>Keyboard and focus management</li>
            <li>Testing, tools and techniques for accessibility</li>
            <li>Accessibility and Progressive Web Apps (PWAs)</li>
            <li>Maintaining accessibility in Agile Software Development</li>
            <li>Accessible web frameworks and libraries</li>
        </ul>
    </div>
    <h2 class="mb-2">For designers</h2>
    <div class="mt-1">
        <ul>
            <li>Introduction to accessible visual design</li>
            <li>PDFs and the PDF/UA standard</li>
            <li>Inclusive design principles</li>
            <li>Designing with accessibility standards in mind</li>
            <li>Accessible UI design</li>
            <li>Accessible content design and writing</li>
            <li>Designing for alternative text</li>
            <li>Usability testing and prototyping</li>
            <li>Designing for cognitive accessibility</li>
        </ul>
    </div>
<section class="mt-3">
    <p>Please reach out to discuss how we can best meet your needs:</p>
    {% include "includes/contact.njk" %}
</section>

{% endblock %}
