{% extends "base.njk" %}

{% block content %}
<h1 class="mt-5 mb-5">Website Development</h1>

<p>We specialise in creating functional, attractive and compliant websites. From simple one-pagers to complex applications, we've got you covered.</p>
<p>Here's what you can expect from our website development services:</p>
<ul>
    <li>Custom design and development</li>
    <li>Mobile-responsive websites for seamless cross-device browsing</li>
    <li>E-commerce solutions for online businesses</li>
    <li>Compliance with regulatory standards, including WCAG and ISO standards</li>
    <li>Content management systems (CMS) for easy content updates</li>
    <li>Reliable hosting and maintenance</li>
</ul>
<p>We have expertise in the following development technologies:</p>
<ul>
    <li>Django and Flask</li>
    <li>JavaScript frameworks like React</li>
    <li>Frontend design libraries like Bootstrap and Materialize</li>
    <li>Sass</li>
    <li>Nunjucks</li>
    <li>Wordpress</li>
    <li>Wagtail CMS</li>
    <li>Heroku</li>
</ul>
<section class="mt-3 mb-3">
    <p>Please reach out to discuss how we can create a solution that works for you:</p>
    {% include "includes/contact.njk" %}
</section>

{% endblock %}